1. What are data structures, and why are they important?
-  A data structure is a way of organizing, storing, and managing data so that it can be used efficiently.


Data structures matter because they:

- Organize Data Efficiently – They help keep data structured for easy access.

- Improve Performance – Choosing the right structure can make a program run much faster.

- Save Memory – Avoids wasting space by storing data in optimal ways.

- Simplify Complex Problems – Many algorithms depend on specific data structures.

- Enable Scalability – Essential for handling large amounts of data in applications.

2. Explain the difference between mutable and immutable data types with examples?
-  Mutable Data Types
Definition: Their contents can be changed (modified) after creation.

Changes happen in place, meaning the object’s memory location stays the same.

Examples in Python:

- List
- Dictionary
- Set

 Immutable Data Types
Definition: Their contents cannot be changed after creation.

If you "change" them, Python actually creates a new object in memory.

Examples in Python:

- String
- Tuple
- Integer
- Float
- Boolean

3. What are the main differences between lists and tuples in Python
-   Mutability
List: Mutable – you can change, add, or remove elements after creation.

Tuple:  Immutable – once created, you can’t modify the elements.

Example:  list_example = [10, 20, 30]
          tuple_example = (10, 20, 30)

4. Describe how dictionaries store data?
-  A dictionary in Python stores data as key–value pairs using a structure called a hash table.
It’s like a real dictionary: you look up a key (word) to find its value (meaning).

example:-  student = {
    "name": "Shivani",
    "age": 22,
    "course": "Data Analytics"
}
 Here:
"name", "age", "course" → keys

"Shivani", 22, "Data Analytics"

5. Why might you use a set instead of a list in Python?
-  You’d prefer a set if:

You don’t care about order.

You need only unique items.

You want fast membership checks (e.g., checking if an element exists).

You need mathematical set operations like union, intersection, difference.

6. What is a string in Python, and how is it different from a list?
-  A string is a sequence of characters (letters, numbers, symbols) enclosed in single quotes '...', double quotes "...", or triple quotes '''...''' / """...""".

Example: my_string = "Hello World"

 A list is a collection of items (which can be of any data type — strings, numbers, booleans, even other lists) enclosed in square brackets [ ], separated by commas.

Example: my_list = [10, "apple", True, 3.14]

7. How do tuples ensure data integrity in Python?
-  Tuples ensure data integrity in Python because they are immutable — meaning once a tuple is created, its elements cannot be changed, added, or removed.

This immutability has two main benefits for data integrity:

Prevents Accidental Modification
If you store data in a tuple, no code can unintentionally alter it later.

user_info = ("Shivani", 25, "India")
# user_info[1] = 26  #  Error: 'tuple' object does not support item assignment

Safe for Use as Keys in Dictionaries & Elements in Sets
Because tuples can’t be changed, Python can rely on their hash value staying constant.

This allows tuples (containing only immutable elements) to be used as dictionary keys or set elements, where changing the data would otherwise break lookups.

location_coords = {(28.7041, 77.1025): "Delhi"}  # Tuple as key
print(location_coords[(28.7041, 77.1025)])  # Works reliably

8. What is a hash table, and how does it relate to dictionaries in Python?
-  A hash table is a data structure that stores key–value pairs and allows fast data access using a hash function.

 This Relates to Python Dictionaries
In Python, a dictionary (dict) is implemented internally using a hash table.

The keys in a dictionary are hashed to determine where their values are stored.

Example: my_dict = {"name": "Shivani", "age": 21}

9. Can lists contain different data types in Python?
-  Yes  — in Python, lists can contain elements of different data types in the same list.

That’s because Python lists are dynamic and heterogeneous — they don’t require all elements to be the same type (unlike arrays in some other languages).

10. Explain why strings are immutable in Python?
-   Strings are immutable in Python, meaning once you create a string, you cannot change its contents.
If you “modify” a string, Python actually creates a new string object in memory instead of altering the original.

11. What advantages do dictionaries offer over lists for certain tasks?
-   Dictionaries offer speed, clarity, and flexibility in situations where lists can become slow or cumbersome.

- Faster Lookups
- More Readable Code
- No Need to Remember Index Positions
- Flexible Data Organization

12. Describe a scenario where using a tuple would be preferable over a list?
-  Tuples provide immutability, which ensures data integrity and can also improve performance because Python can optimize memory usage for tuples.

Example scenario:

Imagine you are working on a geographical application that stores the coordinates of cities:

# Using a tuple
delhi_coords = (28.6139, 77.2090)  # latitude, longitude
Here’s why a tuple is better than a list:

Immutability: Coordinates of a city should not change accidentally during the program. Using a tuple prevents accidental modifications.

Hashable: Tuples can be used as keys in dictionaries because they are immutable. Lists cannot.

Performance: Tuples are slightly faster than lists for iteration and have a smaller memory footprint.

13. How do sets handle duplicate values in Python?
-   In Python, sets automatically handle duplicate values by removing them. A set is an unordered collection of unique elements, so when you try to add a duplicate, Python simply ignores it.

Example:  # Creating a set with duplicates
          my_set = {1, 2, 2, 3, 4, 4, 4}
          print(my_set)

  #output:- {1, 2, 3, 4}

14. How does the “in” keyword work differently for lists and dictionaries?
-The in keyword in Python is used to check membership, but it behaves slightly differently for lists and dictionaries because of how these data structures store data.

1. For Lists
in checks if a value exists anywhere in the list.

Python goes through the list element by element (linear search).

my_list = [10, 20, 30, 40]

print(20 in my_list)  # True
print(50 in my_list)  # False

2. For Dictionaries
in checks if a key exists in the dictionary, not values.

It does not search through values unless you explicitly do value in dict.values().

my_dict = {'a': 1, 'b': 2, 'c': 3}

print('a' in my_dict)        # True (key exists)
print(2 in my_dict)          # False (2 is a value, not a key)
print(2 in my_dict.values()) # True (check in values)

15. Can you modify the elements of a tuple? Explain why or why not.
-   No, you cannot modify the elements of a tuple in Python. Tuples are immutable, which means once a tuple is created, its elements cannot be changed, added, or removed.

Why tuples are immutable:
- Data integrity:

Sometimes you want to ensure that data remains constant throughout the program. For example, coordinates of a point (x, y) should not change accidentally.

- Hashable:

Because tuples are immutable, they can be used as keys in dictionaries or elements in sets. Lists cannot, because they can change and would break the hash-based lookup.

- Performance:

Tuples use less memory and can be slightly faster than lists for iteration because Python can optimize their storage knowing they won’t change.

Example showing immutability:

my_tuple = (1, 2, 3)
my_tuple[0] = 10  #  This will raise an error

16. What is a nested dictionary, and give an example of its use case?
-   A nested dictionary in Python is a dictionary inside another dictionary. This allows you to store more complex or hierarchical data structures.

Structure
nested_dict = {
    'key1': {'subkey1': value1, 'subkey2': value2},
    'key2': {'subkey1': value3, 'subkey2': value4}
}
The outer dictionary holds keys that map to inner dictionaries.

Inner dictionaries can themselves contain other dictionaries, lists, or any data type.

17. Describe the time complexity of accessing elements in a dictionary.
-   The time complexity of accessing elements in a dictionary in Python is generally O(1) on average, thanks to the way dictionaries are implemented using hash tables.

How it works:
1. Hashing the key:

- When you try to access a value using dict[key], Python first calculates the hash of the key.

2. Finding the bucket:

- The hash determines which bucket (location in memory) stores the value.

3. Retrieving the value:

- Python goes directly to that bucket to get the value, which is why it’s fast.

18. In what situations are lists preferred over dictionaries?
-   Lists are preferred over dictionaries in Python when you need ordered collections of items, index-based access, or duplicate elements. Here’s a breakdown of situations:

1. When order matters
- Lists preserve the order of elements.

- If the order of insertion or sequence of items is important, use a list.


fruits = ['apple', 'banana', 'cherry']
print(fruits[0])  # Access by index → 'apple'

2. When you need index-based access
- Lists allow direct access to elements by position using an integer index, which is not possible with dictionaries.


numbers = [10, 20, 30, 40]
print(numbers[2])  # Output: 30

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-  they were considered unordered:
1. Python dictionaries are implemented using hash tables.

2. When a key-value pair is added, the key is hashed, and the hash determines where the value is stored in memory.

3. The position in memory does not depend on insertion order, so iterating over a dictionary could return keys in any arbitrary order.

# Older Python versions (<3.6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key in my_dict:
    print(key)
# Output order could be random, e.g., b, a, c

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-   1. List
- Access method: By index (position in the list).

Example: my_list = [10, 20, 30]
print(my_list[1])  # Output: 20

- Time complexity:

Access by index → O(1) (fast)

Search for a value → O(n) (may need to check each element)

- Duplicates: Allowed

2. Dictionary
Access method: By key (unique identifier), not position.

Example:

my_dict = {'a': 10, 'b': 20}
print(my_dict['b'])  # Output: 20

- Time complexity:

Access by key → O(1) average (fast due to hash table)

Search by value → O(n)

- Duplicates: Keys must be unique

In [ ]:
#1 Write a code to create a string with your name and print it.
my_name = "Shivani"
print(my_name)

Shivani

In [ ]:
#2 Write a code to find the length of the string "Hello World".
my_string = "Hello World"
length = len(my_string)
print("The length of the string is:", length)

The length of the string is: 11

In [ ]:
#3  Write a code to slice the first 3 characters from the string "Python Programming".
my_string = "Python Programming"
first_three = my_string[:3]
print("The first 3 characters are:", first_three)

The first 3 characters are: Pyt

In [ ]:
#4 Write a code to convert the string "hello" to uppercase.
my_string = "hello"
uppercase_string = my_string.upper()
print("Uppercase string:", uppercase_string)

Uppercase string: HELLO

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple.
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print("Updated string:", new_string)

Updated string: I like orange

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7  Write a code to append the number 10 to the list [1, 2, 3, 4].
number=[1,2,3,4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
number=[1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

In [ ]:
#9  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("The second element is:", second_element)

The second element is: b

In [ ]:
#10  Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print("The second-to-last element is:", second_to_last)

The second-to-last element is: blue

In [ ]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
number=(10,20,5,15)
maximum=max(number)
print(maximum)

20

In [ ]:
#14  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print("The minimum number is:", minimum_number)

The minimum number is: 5

In [ ]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")

if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [ ]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print("The set is:", my_set)

The set is: {'b', 'a', 'c'}

In [ ]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("The set after clearing all elements:", my_set)

The set after clearing all elements: set()

In [ ]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set ={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("The union of the two sets is:", union_set)

The union of the two sets is: {1, 2, 3, 4, 5}

In [ ]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("The intersection of the two sets is:", intersection_set)

The intersection of the two sets is: {2, 3}

In [ ]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Shivani",
    "age": 21,
    "city": "Dehradun"
}
print("The dictionary is:", person)

The dictionary is: {'name': 'Shivani', 'age': 21, 'city': 'Dehradun'}

In [ ]:
#22 . Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("The value associated with the key 'name' is:", name_value)

The value associated with the key 'name' is: Alice

In [ ]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [ ]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [ ]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {
    "name": "Shivani",
    "age": 22,
    "city": "Mumbai"
}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Shivani', 'age': 22, 'city': 'Mumbai'}

In [ ]:
#27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [15, 31, 33, 49, 83]

In [ ]:
#28 Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print("The element at index 2 is:", third_element)

The element at index 2 is: cherry

In [ ]:
#29 Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30  Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "banana", "date"]
my_set = set(my_list)
print("Set from list:", my_set)

Set from list: {'banana', 'cherry', 'apple', 'date'}